body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 0; */
    padding: 100px 0 0;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

#grid-output, #two-letter-list-output {
    margin: 0 2%;
}

#grid-output {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#grid-output table {
    width: 45%;
    margin-left: auto;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

th, td {
    padding: 2px;
    text-align: center;
    width: 1%;
}

#two-letter-list-output {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
}

#submit-container {
    margin-top: 20px;
    text-align: center;
}

textarea {
    width: 80%;
    padding: 8px;
} 

button {
    padding: 8px 16px;
    margin-top: 10px;
}

textarea.form-control {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}